[submodule "dot.oh-my-zsh"]
	path = dot.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "dot.sh/enhancd"]
	path = dot.sh/enhancd
	url = https://github.com/b4b4r07/enhancd.git
[submodule "dot.sh/emoji-cli"]
	path = dot.sh/emoji-cli
	url = https://github.com/b4b4r07/emoji-cli.git
[submodule "dot.sh/emojify"]
	path = dot.sh/emojify
	url = https://github.com/mrowa44/emojify.git
[submodule "dot.sh/replace_text"]
	path = dot.sh/replace_text
	url = https://github.com/koic/replace_text.git
